:root {
  --page-margin: 2ex;
  --volume: #272f;
}
body {
  background: #101; color: #fff; font-family: Arial, sans-serif;
  margin: var(--page-margin);
}
code, pre { font-size: 1em; font-family: Consolas, monospace, monospace; }

.itemlist {
  width: 49%; --height: calc(99vh - 2 * var(--page-margin));
  background: #4044; padding: 0.5ex 0; overflow: hidden scroll;
}
.itemlist.drag-to { background: #8084; }
.itemlist.volumebg { background: var(--volume); }
#main  { float: left;  margin-top: 4.5ex; height: calc(var(--height) - 4.5ex); }
#plist { float: right; margin-top:  11ex; height: calc(var(--height) -  11ex); }

.list, .item { padding-left: 0.25ex; }
.list {
  border-left: 2px #606 solid; margin-left: 0.25ex; border-radius: 1ex 0 0 1ex;
}
.list      > .subs { display: none;  }
.list.open > .subs { display: block; }

.subs.only > .list { display: none;  }
.subs.only > .item { display: none;  }
.subs.only > .list.only { display: block;  }

.item { cursor: pointer; border-radius: 0.5ex; white-space: nowrap; }
.item:focus { background: #8224; outline: none; }
.item:hover { background: #4224; }

.item.dir { font-size: 150%; font-weight: bold; }
.list.open > .item.dir { text-decoration: underline; }

.item.found { color: #bf6; text-shadow: 2px 2px 4px #bf6c; }

.item.other { color: #888; }
.item.image { font-style: italic; color: #888; }
.item.other, .item.video { color: #888; }

.item.selected { background: #8228; }
.item.altitem  { background: #8222; }
.item.player { position: relative; }
.item.player::after {
  font-family: "MediaButtons"; content: "444444"; color: var(--volume);
  z-index: 2; position: absolute; right: 0; width: 50%; padding: 0 0.25ex;
  transform: scale(-3, 2); transform-origin: 25% 50%;
  text-shadow: none;
}

.drag-to .item.dragitem { position: relative; }
.drag-to .item.dragitem::before {
  content: ""; position: absolute; left: 0; right: 0; top: -2px; height: 4px;
  background: #822; z-index: 1;
}
.drag-to .item.dragitem.bottom::before { top: auto; bottom: -2px; }

#control-panel, #search-panel {
  position: fixed; top: var(--page-margin); white-space: nowrap;
  background: #2228; border: 1px solid #3338; border-radius: 5px;
}

.fill-right { width: 100%; } /* width set in js */

#control-panel {
  user-select: none;
  right: var(--page-margin); padding: 0.5ex 1em;
  width: calc(49vw - var(--page-margin) - 2em);
}
#control-panel.drag-to { background: #4448; }
#control-panel > div { display: inline-block; }
#wave { display: block; width: 10em; height: 2ex; }

#viz-container { margin: -50% 0; vertical-align: middle; }
#visualization { width: 100%; height: 14ex; }
#visualization.fullsize {
  position: fixed; left: 0; top: 0; width: 100vw; height: 100vh;
  pointer-events: none; opacity: 0.75; image-rendering: pixelated;
}

#track-info { overflow: hidden; position: relative; }
#track-info > div {
  position: relative; left: 0; white-space: nowrap; display: inline-block;
}

.toggle { cursor: pointer; filter: brightness(0.3); transition: filter 0.3s;
          font-size: 150%; }
.toggle.on { filter: brightness(1); }

#viz-toggles { position: absolute; top: -4px; right: 8px; opacity: 0.25; }
#viz-toggles > div { font-size: 75%; width: 1.25ex; display: inline-block; }
#viz-toggles > div:after    { content: "⊙"; }
#viz-toggles > div.on:after { content: "⦿"; }

#flashy { background: var(--volume); border-radius: 15%; }

#sliders { position: absolute; top: 12px; }
.slider { height: 2ex; background: #0000; -webkit-appearance: none; }
#volume { width: 8ex;  margin: 1ex -3ex; transform: rotate(-90deg);
          vertical-align: top; }
#rate   { width: 12ex; margin: -3ex 0;
          vertical-align: text-bottom; }
.slider:focus { outline: none; }
.slider::-webkit-slider-runnable-track {
  background: #44cc; height: 4px; border-radius: 25px;
}
.slider::-webkit-slider-thumb {
  background: #cc8c; height: 12px; width: 12px; border-radius: 6px;
  margin-top: -4px; -webkit-appearance: none;
}
.slider:focus::-webkit-slider-runnable-track,
.slider:hover::-webkit-slider-runnable-track { background: #44ff; }
.slider:focus::-webkit-slider-thumb,
.slider:hover::-webkit-slider-thumb { background: #ff8f; }

#playerbuttons { text-align: center; cursor: default; }
#playerbuttons > div {
  cursor: pointer; display: inline-block; width: 1em; height: 3ex;
}
#playerbuttons         > #p-pause { display: none; }
#playerbuttons.playing > #p-pause { display: inline-block; }
#playerbuttons.playing > #p-play  { display: none; }

#wave { position: relative; background: #666; cursor: col-resize; }
#wave-image, #wave-canvas { width: 100%; height: 100%; }
#wave-canvas { position: absolute; top: 0; left: 0; }

#times { font-size: 130%; width: 5ex; margin-right: 1ex; cursor: pointer; }
#times > div { text-align: right; }
#time { border-bottom: 1px solid #fff }
#dur  { border-top: 1px solid #fff }

#search-panel {
  left: var(--page-margin); padding: 0.5ex 1em;
  width: calc(49vw - var(--page-margin) - 2em);
  text-align: right;
}
#search {
  background: #222; color: #fff; border: 1px solid #444; padding: 0 0.5ex;
  font-size: 120%;
}
#search:focus { outline: 3px solid #888; text-shadow: 2px 2px 4px #000; }
#search.found { background: #242; }
#search.not-found { background: #422; }

.under {
  position: fixed; left: 0; top: 0; z-index: -9;
  object-fit: cover; width: 100vw; height: 100vh;
  filter: brightness(0.5) contrast(0.8) opacity(0.4) saturate(0.75);
  opacity: 0.001; transition: opacity 1s linear;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {
  background: #6243; border-radius: 8px; box-shadow: inset 0 0 4px #0004; }
::-webkit-scrollbar-thumb {
  background: #624c; border-radius: 8px; box-shadow: inset 0 0 4px #0008; }
::-webkit-scrollbar-thumb:window-inactive { background: #6248; }

@font-face {
  font-family: "MediaButtons";
  src: url("fonts/MediaButtons.eot?72wttu");
  src: url("fonts/MediaButtons.eot?72wttu#iefix") format("embedded-opentype"),
       url("fonts/MediaButtons.ttf?72wttu") format("truetype"),
       url("fonts/MediaButtons.woff?72wttu") format("woff"),
       url("fonts/MediaButtons.svg?72wttu#MediaButtons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
#playerbuttons {
  font-family: "MediaButtons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
