body {
  background: #101; color: #fff; font-family: Arial, sans-serif;
  --page-margin: 2ex;
  margin: var(--page-margin);
}
code, pre { font-size: 1em; font-family: Consolas, monospace, monospace; }

.itemlist {
  --height: calc(98vh - 2 * var(--page-margin));
  width: 49%; height: var(--height);
  background: #4044; overflow: hidden scroll;
}
#main     { float: left; }
#playlist { float: right;
  margin-top: 10ex; height: calc(var(--height) - 10ex);
}

.list, .item { padding-left: 0.25ex; }
.list {
  border-left: 2px #606 solid; margin-left: 0.25ex; border-radius: 1ex 0 0 1ex;
}
.list      > .subs { display: none;  }
.list.open > .subs { display: block; }

.subs.only > .list { display: none;  }
.subs.only > .item { display: none;  }
.subs.only > .list.only { display: block;  }

.item { cursor: pointer; border-radius: 0.5ex; white-space: nowrap; }
.item:focus { background: #8224; outline: none; }
.item:hover { background: #4224; }

.item.dir { font-size: 150%; font-weight: bold; }
.list.open > .item.dir { text-decoration: underline; }

.item.other { color: #888; }
.item.image { font-style: italic; color: #888; }
.item.other, .item.video { color: #888; }

.item.selected { background: #8228; }
.item.altitem  { background: #8222; }
.item.player { position: relative; }
.item.player::before {
  font-family: "MediaButtons"; content: "444"; color: #272f; z-index: -1;
  position: absolute; right: 0; width: 100%; padding: 0 0.25ex;
  transform: scale(-3, 2); transform-origin: 25% 50%;
}

#control {
  position: fixed; white-space: nowrap; user-select: none;
  right: var(--page-margin); top: var(--page-margin);
  width: calc(49vw - 3em); padding: 0.5ex 1em; text-align: right;
  background: #2228; border: 1px solid #3338; border-radius: 5px;
}
#control > div { display: inline-block; }
#visualization { width: calc(49vw - 17em); height: 6ex; }
#wave { display: block; width: 10em; height: 2ex; }

#volume {
  width: 10ex;  height: 10ex; margin: 0 -4ex; transform: rotate(-90deg);
  -webkit-appearance: none;
  background: #0000;
}
#volume:focus { outline: none; }
#volume::-webkit-slider-runnable-track {
  background: #4448; height: 8px; border-radius: 25px;
}
#volume::-webkit-slider-thumb {
  background: #822c; height: 15px; width: 15px; border-radius: 7.5px;
  margin-top: -3.75px; -webkit-appearance: none;
}
#volume:focus::-webkit-slider-runnable-track { background: #444c; }

#playerbuttons { text-align: center; cursor: default; }
#playerbuttons > div {
  cursor: pointer; display: inline-block; width: 1em; height: 3ex;
}
#playerbuttons         > #p-pause { display: none; }
#playerbuttons.playing > #p-pause { display: inline-block; }
#playerbuttons.playing > #p-play  { display: none; }

#wave { position: relative; background: #666; cursor: col-resize; }
#wave-image, #wave-canvas { width: 100%; height: 100%; }
#wave-canvas { position: absolute; top: 0; left: 0; opacity: 0.4; }

#times { font-size: 130%; margin-right: 1ex; cursor: pointer; }
#times > div { text-align: right; }
#time { border-bottom: 1px solid #fff }
#dur  { border-top: 1px solid #fff }

.under {
  position: fixed; left: 0; top: 0; z-index: -9;
  object-fit: cover; width: 100vw; height: 100vh;
  filter: brightness(0.5) contrast(0.8) opacity(0.4) saturate(0.75);
  opacity: 0.001; transition: opacity 1s linear;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {
  background: #6243; border-radius: 8px; box-shadow: inset 0 0 4px #0004; }
::-webkit-scrollbar-thumb {
  background: #624c; border-radius: 8px; box-shadow: inset 0 0 4px #0008; }
::-webkit-scrollbar-thumb:window-inactive { background: #6248; }

@font-face {
  font-family: "MediaButtons";
  src: url("fonts/MediaButtons.eot?72wttu");
  src: url("fonts/MediaButtons.eot?72wttu#iefix") format("embedded-opentype"),
       url("fonts/MediaButtons.ttf?72wttu") format("truetype"),
       url("fonts/MediaButtons.woff?72wttu") format("woff"),
       url("fonts/MediaButtons.svg?72wttu#MediaButtons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
#playerbuttons {
  font-family: "MediaButtons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
