:root {
  --page-margin: 2ex; --fg: #fff;
  --volume1: 0; --volume2: 0; --volcolor: #0000; --beat: 0deg;
}

body {
  background-color: #101; color: var(--fg); font-family: Arial, sans-serif;
  margin: var(--page-margin);
}
code, pre { font-size: 1em; font-family: Consolas, monospace, monospace; }

.itemlist {
  width: 49%; --height: calc(99vh - 2 * var(--page-margin));
  background-color: #4044; padding: 0.5ex 0; overflow: hidden scroll;
}
.itemlist.drag-to { background-color: #8084; }
body.flashy .itemlist { background-color: var(--volcolor); }
#main  { float: left;  margin-top: 4.5ex; height: calc(var(--height) - 4.5ex); }
#plist { float: right; margin-top: 11.5ex; /* +0.5ex from .itemlist */
         height: calc(var(--height) -  11ex); }

.list, .item { padding-left: 0.25ex; }
.list {
  border-left: 2px #606 solid; margin-left: 0.25ex; border-radius: 1ex 0 0 1ex;
}
.list      > .subs { display: none;  }
.list.open > .subs { display: block; }

.subs.only > .list { display: none;  }
.subs.only > .item { display: none;  }
.subs.only > .list.only { display: block;  }

.subs { overflow-x: clip; } /* some rendering bug when search is focused? */

.item { cursor: pointer; border-radius: 0.5ex; white-space: nowrap; }
.item:focus { background-color: #8224; outline: none; }
.item:hover { background-color: #4224; }

.item.dir { font-size: 150%; font-weight: bold; }
.list.open > .item.dir { text-decoration: underline; }

.item.found { color: #bf6; text-shadow: 2px 2px 4px #bf6c; }

.item.other { color: #888; }
.item.image { font-style: italic; color: #888; }
.item.other, .item.video { color: #888; }

.item.selected { background-color: #8228; }
.item.altitem  { background-color: #8222; }
.item.player {
  position: relative; color: #ff4; text-shadow: 2px 2px #000;
  transform: translateX(calc(10px * var(--volume1)))
             translate(-50%, 0%)
             scale(calc(1 + 0.2 * var(--volume1)))
             translate(50%, 0%);
}
:root.bigviz .item.player {
  transform: translateX(calc(10px * var(--volume1)))
             translate(-50%, 0%)
             scale(calc(1 + 0.3 * var(--volume1)))
             translate(15%, 0%)
             rotate(calc(-4deg * var(--volume2)))
             translate(35%, 0%);
}
.item.player::after {
  font-family: "MediaButtons"; content: "444444"; z-index: 2;
  position: absolute; right: 0; padding: 0 0.25ex; direction: rtl;
  transform: scale(-3, 2); transform-origin: 25% 50%; text-shadow: none;
  color: var(--volcolor); width: calc(var(--volume1) * 30%); overflow-x: clip;
}

.drag-to .item.dragitem { position: relative; }
.drag-to .item.dragitem::before {
  content: ""; position: absolute; left: 0; right: 0; top: -2px; height: 4px;
  background-color: #822; z-index: 1;
}
.drag-to .item.dragitem.bottom::before { top: auto; bottom: -2px; }

.control {
  position: fixed; top: var(--page-margin); white-space: nowrap;
  background-color: #2228; border: 1px solid #3338; border-radius: 5px;
}
body.flashy .control { background-color: var(--volcolor); }

.flex-line { display: flex; align-items: center; gap: 5px; }

#control-panel {
  user-select: none;
  right: var(--page-margin); padding: 0.5ex 0.5em;
  width: calc(49vw - var(--page-margin) - 1em);
}
#control-panel.drag-to { background-color: #4448; }

#sliders { z-index: 2; }

#viz-container { margin: -20% -10px -20% -150px; flex-grow: 1; }
#visualization { margin-top: 50px; height: 16ex; width: 100%; }
/* See :root.bigviz #visualization below */

#message {
  position: fixed; margin: var(--page-margin); font-size: 62.5%;
  background-color: #633c; color: #000; box-shadow: 4px 4px 2px 0px #3368;
  border-radius: 5px; padding: 5px; pointer-events: none; white-space: pre;
  top: 0em; right: -8em; opacity: 0; transition: all 0.5s;
}
#message.active { top: 7em; right: 1em; opacity: 1; color: #fff; }

#track-info { overflow: hidden; position: relative; flex-grow: 1; }
#track-info > div {
  position: relative; left: 0; white-space: nowrap; display: inline-block;
}

.toggle, .nexter { cursor: pointer; transition: all 0.3s; font-size: 150%; }
.toggle    { filter: brightness(0.3); }
.toggle.on { filter: brightness(1); }
.nexter       { color: #ff8; }
.nexter:hover { color: #fb8; }

#viz-controls { position: absolute; top: 2px; right: 8px; opacity: 0.5; }
#viz-controls > div { font-size: 100%; }
#viz-controls > div:after        { content: "⊙"; }
#viz-controls > div.on:after     { content: "⦿"; color: #fff; }
#viz-controls > div.nexter:after { content: "⦿"; }

#flashy { background-color: var(--volcolor); border-radius: 15%; }

.slider { height: 2ex; background-color: #0000; -webkit-appearance: none; }
#volume, #gain {
  width: 8ex;  margin: 1ex -3ex; transform: rotate(-90deg); vertical-align: top;
}
#rate   { width: 12ex; margin: -3ex 0;
          vertical-align: text-bottom; }
.slider:focus { outline: none; }
.slider::-webkit-slider-runnable-track {
  background-color: #44cc; height: 4px; border-radius: 25px;
}
.slider::-webkit-slider-thumb {
  background-color: #cc8c; height: 12px; width: 12px; border-radius: 6px;
  margin-top: -4px; -webkit-appearance: none;
}
.slider:focus::-webkit-slider-runnable-track,
.slider:hover::-webkit-slider-runnable-track { background-color: #44ff; }
.slider:focus::-webkit-slider-thumb,
.slider:hover::-webkit-slider-thumb { background-color: #ff8f; }

#playerbuttons { text-align: center; cursor: default; width: 10em; }
#playerbuttons > div {
  cursor: pointer; display: inline-block; width: 1em; height: 3ex;
}
#playerbuttons         > #p-pause { display: none; }
#playerbuttons.playing > #p-pause { display: inline-block; }
#playerbuttons.playing > #p-play  { display: none; }

#wave { position: relative; display: block; width: 10em; height: 2ex;
        background-color: #444a; cursor: col-resize; }
#wave-image { width: 100%; height: 100%; image-rendering: pixelated; }
#wave-needle {
  position: absolute; top: 0; left: 0; height: 100%;
  width: 2px; margin-left: -1px; /* center the needle around it's left point */
  background-color: #f4fc;
  transform: rotate(0.0001deg); /* avoids pixel rounding */
}

/* bigviz mode: moves #visualization & #wave over whole screen */
:root.bigviz #visualization, :root.bigviz #wave {
  position: fixed; left: 0; width: 100vw; padding: 0; margin: 0; z-index: 9;
  background-color: #222a; /* instead of opacity for all */
  backdrop-filter: brightness(0.5) blur(1px);
}
:root.bigviz #visualization { top: 0; height: 96vh; pointer-events: none; }
:root.bigviz #wave { bottom: 0; height: 4vh; }

#times { font-size: 130%; width: 5ex; margin-right: 1ex; cursor: pointer; }
#times > div { text-align: right; }
#time { border-bottom: 1px solid var(--fg); }
#dur  { border-top:    1px solid var(--fg); }

#beatmode {
  background-color: #226; border-radius: 50%; width: 1ex;
  position: fixed; right: 1ex; bottom: 0.5ex;
  line-height: 1em; text-align: center;
  font-size: 300%; transition: font-size 0.3s, filter 0.3s;
}
#beatmode.on { font-size: 800%; }
#beat {
  transform-origin: 50% 70%; border-radius: 50%; pointer-events: none;
  transform: rotate(var(--beat));
  background-color: #228c; color: #ff0c; opacity: 0;
}

#search-panel {
  left: var(--page-margin); padding: 0.5ex 1em;
  width: calc(49vw - var(--page-margin) - 2em);
  text-align: right;
}
#search {
  background-color: #222; color: var(--fg); border: 1px solid #444;
  padding: 0 0.5ex; font-size: 120%;
}
#search::placeholder { color: #666; text-shadow: none; }
#search:focus { outline: 3px solid #888; text-shadow: 2px 2px 4px #000; }
#search.found { background-color: #242; }
#search.not-found { background-color: #422; }

.under {
  position: fixed; left: 0; top: 0; z-index: -9;
  object-fit: cover; width: 100vw; height: 100vh;
  filter: brightness(0.5) contrast(0.8) opacity(0.4) saturate(0.75);
  opacity: 0.001; transition: opacity 1s linear;
}

.overlay {
  display: none; z-index: 22; position: fixed; place-items: center;
  left: 10vw; top: 10vh; width: 80vw; height: 80vh;
  border-radius: 2vmin; color: #fff; background-color: #323e;
  overflow: hidden scroll;
}
.overlay.on { display: grid; }

#overlay-bg {
  display: none; z-index: 21; position: fixed;
  left: 0; top: 0; width: 100vw; height: 100vh;
  backdrop-filter: saturate(0.5) brightness(0.5) blur(5px);
}
#overlay-bg.on { display: block; }

#select-device a {
  display: block; margin: 1ex; padding: 1ex 2ex; cursor: pointer;
  background-color: #0008; border-radius: 5px;
  font-size: 150%; font-weight: bold; transition: background-color 300ms;
  text-shadow: 2px 2px 4px #ccca;
}
#select-device a:hover { background-color: #4448; }

#help-text pre {
  background-color: #4448; padding: 1ex 2ex; border-radius: 5px; tab-size: 25;
}
#help-text key {
  background-color: #6668; padding: 1px 2px; margin: 0 2px; border-radius: 2px;
}
#help-text .entry { margin: 4px 0; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {
  background-color: #6243; border-radius: 8px; box-shadow: inset 0 0 4px #0004; }
::-webkit-scrollbar-thumb {
  background-color: #624c; border-radius: 8px; box-shadow: inset 0 0 4px #0008; }
::-webkit-scrollbar-thumb:window-inactive { background-color: #6248; }

@font-face {
  font-family: "MediaButtons";
  src: url("fonts/MediaButtons.eot?72wttu");
  src: url("fonts/MediaButtons.eot?72wttu#iefix") format("embedded-opentype"),
       url("fonts/MediaButtons.ttf?72wttu") format("truetype"),
       url("fonts/MediaButtons.woff?72wttu") format("woff"),
       url("fonts/MediaButtons.svg?72wttu#MediaButtons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.media-buttons {
  font-family: "MediaButtons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
